* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.banner {
  display: grid;
  place-content: center;
  width: 100%;
  background-image: url("bg.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  height: 200px;
}

.banner h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.left-side,
.right-side {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 48%;
}


.left-side h2,
.right-side h2 {
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #218838;
}

.separator {
  border-left: 2px dashed #ccc;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}

.transaction-list {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.transaction-list li {
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.transaction-list li .amount {
  font-weight: bold;
  color: #007bff;
}

.transaction-list li .description {
  color: #495057;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    width: 90%;
    margin-bottom: 20px;
  }

  .separator {
    display: none;
  }
}
