* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffcc33, #ff66cc, #66ccff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .icon:hover {
  background-color: #007bff;
}
input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 250px;
  margin-inline: 10px;
}

button {
  width: 80px;
  height: 40px;
  font-size: 1em;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.output {
  font-size: 1rem;
  margin-top: 20px;
  color: #333;
}

@media only screen and (max-width: 499px) {
  h1 {
    font-size: 1.4rem;
  }
  input {
    width: 150px;
  }
}
