* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.container {
    background: linear-gradient(145deg, #ff6f61, #d4504c);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ffebcd;
}

.input-and-button {
    display: flex;
    justify-content: space-between;
}

input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    background-color: #ffffff;
    color: #333;
}



button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #ffeb3b;
}

.result-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

#result {
    font-size: 1.5em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}
