* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#customContainer {
  margin-inline: 10px;
  width: 100%;
  max-width: 800px;
}
